table {
  background-color: lightblue;
  border: 2px solid black;
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

.Putt {
  background-color: lightblue;
  border: 2px solid black;
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

.Foot-top-row {
  background-color: #f0f0f0;
}

.Base-top-row {
  background-color: #f0f0f0;
}

.Putt-top-row {
  background-color: #f0f0f0;
}

.Foot-O-E {
  background-color: white;
  color: #444;
  border-bottom: 1px solid 
  #f0f0f0;
  
}

.Base-O-E {
  background-color: white;
  color: #444;
  border-bottom: 1px solid 
  #f0f0f0;
}

.Putt-O-E {
  background-color: white;
  color: #444;
  border-bottom: 1px solid 
  #f0f0f0;
}

.Foot-Almont {
  background-color: white;
  color: #444;
  border-bottom: 1px solid #f0f0f0;
}

.Base-Almont {
  background-color: white;
  color: #444;
  border-bottom: 1px solid #f0f0f0;
}

.Putt-Almont {
  background-color: white;
  color: #444;
  border-bottom: 1px solid #f0f0f0;
}

.Foot-final, .Base-final, .Putt-final {
  background-color: lightgoldenrodyellow;
}

.Putt-top-row {
  font-size: .8em;
}

td, th {
  color:#333;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  center: center;
}
 .Putt td, .Putt th {
  border: 1px solid #ccc;
  padding: 10px;
  center: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

.start{
  margin: 0 auto;
}

a {
  margin: auto;
  text-decoration: none;
  displpay: block;
  margin-right: 10px;
}

a:hover { 
  color: black; 
